:root {
      --spacing: 10px;
      --blur: 10px;
      --base: #ffc600;
    }
html,body{
  height: 100%;
}
h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

body {
  background-color: black;
  color: white;
}

.full-img {
  position: relative;
  display: block;
  margin:0 auto;
}

.dislay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  margin-left: 2%;
  top: 2%;

}

.thumb-bar img {
  display: block;
  width: 100%;
  cursor: pointer;
  opacity: 0.3;
}

#image{
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  width:100%;
}
.container-fluid{
  margin-top: -1%;
}

.main{
  padding: 0px;
  overflow: hidden;
}

.side{
  padding: 0px;
}
#updir{
  z-index: 1;
  margin-left: 50%;
}
#downdir{
  z-index: 1;
  margin-left: 50%;
  margin-top:  52%
}
