h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

body {
  width: 683px;
  margin: 0 auto;
}

.full-img {
  position: relative;
  display: block;
  height: 384px;
  width:683px;
}

.dislay {
  position: absolute;
  top: 0;
  left: 0;
  height: 384px;
  width:683px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}

.displayed-img{
  height: 384px;
  width:683px;
}