h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

body {
  background-color: black;
  color: white;
}

.full-img {
  position: relative;
  display: block;
  margin:0 auto;


}

.dislay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  margin-left: 2%;
  top: 2%;

}

.thumb-bar img {
  display: block;
  width: 100%;
  cursor: pointer;
}

.displayed-img{
  width: 100%;

}
.container-fluid{
  margin-top: -1%;
}

.col-sm-11{
  padding: 0px;
  height: 100%
}

.col-sm-1{
  padding: 0px;
}